.first-header {
  color: greenyellow;
  background-color: black;
  font-size: 70px;
}

.first_header {
  color: greenyellow;
  background-color: black;
  font-size: 70px;
}

.font_normal {
  font-weight: normal;
}

#unique_header {
  color: red;
  background-color: black;
  font-size: 30px;
}
