.paragraph-1 {
  color: red;
  background-color: yellow;
  font-size: 30px;
  margin: 100px;
  border: 10px black solid;
  padding: 130px;
}

.paragraph-2 {
  color: yellow;
  background-color: green;
  font-size: 30px;
}
