.first {
  color: red;
  background-color: green;
  font-size: 60px;
}

.second {
  color: yellow;
  background-color: black;
}

#paragraph {
  color: blue;
  font-size: 80px;
}

.font-large {
  font-size: 100px;
}
